:root {
  --non-mobile-nav-height: 85px;
  --mobile-nav-height: 80px;
}

.Pics{
  position: relative;
  height: 100vh;
  background-color: #BE00B0;
  color: white;
}

.pics-bottom {
  z-index: 99999;
}

.pics-bottom > a {
  text-decoration: none;
  color: white;
}

.pics-bottom > a:hover {
  text-decoration: underline;
  color: #5FEB57;
}

@media only screen and (min-width : 641px) {
  .pics-left-top {
    position: absolute;
    left:10vw;
    top:25px;
    font-size: 100px;
    line-height: 85px;
  }

  .pics-right-top {
    position: absolute;
    text-align: right;
    right:10vw;
    top:25px;
    font-size: 100px;
    line-height: 85px;
  }

  .pics-bottom {
    position: absolute;
    text-align: center;
    bottom:100px;
    left:0;
    right:0;
    margin: 0 auto;
    font-size: 100px;
  }

  .pics-container {
    display: flex; /* or inline-flex */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    left:0;
    right:0;
    margin: 0 auto 0 auto;
    padding-top:calc((100vh - 85px - 490px)/2);
    padding-bottom: calc((100vh - 85px - 490px)/2);
    width: 735px;
    height: 490px;
  }

  .pics-insta {
    display: inline-block;
    margin: 10px;
    height: 225px;
    width: 225px;
  }
}

@media only screen and (max-width : 640px) {
  .pics-left-top {
    position: absolute;
    left:1vw;
    top:-10px;
    font-size: 80px;
    line-height: 75px;
  }

  .pics-right-top {
    position: absolute;
    text-align: right;
    right:1vw;
    top:-10px;
    font-size: 80px;
    line-height: 75px;
  }

  .pics-bottom {
    position: absolute;
    bottom:85px;
    left:-10px;
    font-size: 80px;
    transform: rotate(-60deg);
    transform-origin: top left;
  }

  .pics-container {
    display: flex; /* or inline-flex */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    left:0;
    right:0;
    margin: 0 auto 0 auto;
    padding-top:calc((100vh - 80px - 510px)/2);
    padding-bottom:calc((100vh - 80px - 510px)/2);
    width: 340px;
    height: 510px;
  }

  .pics-insta {
    display: inline-block;
    margin: 10px;
    height: 150px;
    width: 150px;
  }
}

