@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  height:100vh;
  overflow:hidden; 
  background-color: #BE00B0;

}

.prev-slide {
  position: absolute;
  height: 30vh;
  width: 100vw;
  top:0;
  z-index: 5000;
  cursor: n-resize;
}

.next-slide {
  position: absolute;
  height: calc(30vh - 85px);
  width: 100vw;
  bottom:85px;
  z-index: 5000;
  cursor: s-resize;
}

@media only screen and (max-width : 640px) {
  .prev-slide, .next-slide{
    display: none;
  }
  .next-slide{
    height: calc(30vh - 80px);
    bottom: 80px;
  }
}
