.Nav {
  position: absolute;
  text-align: center;
  bottom: 1px;
  background-color: transparent;
  z-index:1;

  height: 85px;
  width: 80vw;

  left: 0;
  right: 0;
  margin: 0 auto;
  overflow:hidden; 
}

.nav-button {
  position: relative;
  display: inline-block;
  height:85px;
  line-height: 85px;
  z-index: 88888;
  background-color: transparent;
  border-top-width: 1px;
  border-top-color: white;
  border-top-style: solid;
  width: 20vw;
  color: white;
  font-size: 36px;
}

.nav-button.current {
  background: rgba(0, 0, 0, .28);
}

.nav-button.current:hover{
  background-color: transparent;
}


div.pics:hover ~ .nav-highlight {
  left:40vw;
  display:block;

}

div.gimme:hover ~ .nav-highlight {
  left:60vw;
  display:block;

}

div.actually:hover ~ .nav-highlight {
  left:0vw;
  display:block;

}

div.what:hover ~ .nav-highlight {
  left:20vw;
  display:block;
}

.nav-highlight {
  pointer-events: none;
  position: relative;
  height:85px;
  width:20vw;
  z-index: 0;
  background-color: #5FEB57;
  top:-85px;
  left:0;
  display:none;
  transition-property: transform;
  transition: .3s ease-in-out;
}

span.nav-button-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media only screen and (max-width : 640px) {

  .nav-highlight, .nav-button, .Nav{
    height:80px;
  }

  .nav-button{
    line-height: 80px;
  }

  .nav-button-text{
    font-size: 12px;
  }

  .nav-highlight {
    top: -80px;
  }

  .mobile-text {
    display: inline;
  }
  .mobile-text::after {
    content:"\a";
    white-space: pre;
  }
  
}