.Nav {
  position: absolute;
  text-align: center;
  bottom: 1px;
  background-color: transparent;
  z-index:1;

  height: 85px;
  width: 80vw;

  left: 0;
  right: 0;
  margin: 0 auto;
  overflow:hidden; 
}

.nav-button {
  position: relative;
  display: inline-block;
  height:85px;
  line-height: 85px;
  z-index: 88888;
  background-color: transparent;
  border-top-width: 1px;
  border-top-color: white;
  border-top-style: solid;
  width: 20vw;
  color: white;
  font-size: 36px;
}

div.pics:hover ~ .nav-highlight {
  left:40vw;
  display:block;
}

.pics.current ~ .nav-selection {
  left:40vw;
  display:block;
}

div.gimme:hover ~ .nav-highlight {
  left:60vw;
  display:block;
}

.gimme.current ~ .nav-selection {
  left:60vw;
  display:block;
}

div.gimme:hover{
  color:white;
}
div.gimme{
  color:#5FEB57;
}

div.actually:hover ~ .nav-highlight {
  left:0vw;
  display:block;
}


.actually.current ~ .nav-selection {
  left:0vw;
  display:block;
}

.what.current ~ .nav-selection {
  left:20vw;
  display:block;
}

div.what:hover ~ .nav-highlight {
  left:20vw;
  display:block;
}


.nav-highlight, .nav-selection {
  pointer-events: none;
  position: absolute;
  height:85px;
  width:20vw;
  /* top:-85px; */
  bottom:1px;
  left:0;
  display:none;
  transition-property: transform;
  transition: .3s ease-in-out;
}

.nav-highlight {
  z-index:2;
  background-color: #5FEB57;
}

.nav-selection {
  z-index:0;
  background-color: black;
  opacity:.28;
  /* background: rgba(0, 0, 0, .28); */
}

span.nav-button-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media only screen and (max-width : 640px) {

  .nav-highlight, .nav-button, .Nav{
    height:80px;
  }

  .nav-button{
    line-height: 80px;
  }

  .nav-button-text{
    font-size: 12px;
  }

  .mobile-text {
    display: inline;
  }
  .mobile-text::after {
    content:"\a";
    white-space: pre;
  }
  
}